<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/shail/IdeaProjects/API_AUTOMATIION_FRAMEWORK_FOR_RESTFUL_BOOKER">
        <classes><class name="com.restfulbooker.tests.sample.TestIntegrationSamples">
            <methods>
                <include name="testCreateBooking"/>
                <include name="testBookingID"/>
                <include name="testUpdateBookingByID"/>
                <include name="testDeleteBookingByID"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>